*{
    margin: 0px;
    padding: 0px;
}

/* body */
body{
    position: relative;
    width: 900px;
    height: 430px;

}
/* div */
.child1{
    
    border: 2px solid royalblue;
    width:250px;
    height: 200px;
    position: absolute;
    left:0px;
    top: 0px;
    
    
}
.child2{
    border: 2px solid royalblue;
    position: absolute;
    width:250px;
    height: 200px;
    left: 323px;
    top:0px
    
    
}
.child3{
    border: 2px solid royalblue;
    position: absolute;
    width:250px;
    height: 200px;
    right: 0px; 
    top: 0px;
}
.child4{
    border: 2px solid royalblue;
    width:250px;
    height:200px;
    position: absolute;
    left: 0px;
    top: 226px;
    
}
.child5{
    border: 2px solid royalblue;
    position: absolute;
    width:250px;
    height: 200px;
    left: 323px;
    top: 226px;
}
.child6{
    border: 2px solid royalblue;
    position: absolute;
    width:250px;
    height: 200px;
    right: 0px;
    top: 226px;
}