*{
    margin: 0;
    padding: 0;
}
body{
    width: 100%;
}
/* nav section */
.head{
    margin: 0;
    padding: 0;
}
.head .navimg{
    margin-top: 50px;
    margin-bottom: 79px;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 1;
}
.navimg .logo{
    width: 156px;
    height: 96px;
    margin-left: 99px;
}
.centerli li a{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #1E1F4B;
}
.endli li a{
    font-family: 'Poppins'; 
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    width: 181px;
    text-align: center;
    padding: 10px 40px;
    background: #706FE5;
    border-radius: 12px;
    margin-right: 80px;

}
/* header-bottom start */
.header-bottom{
    width: 85%;
    margin: 0 auto;

}
.header-bottom img{
    width: 100%;
    height: 711px;
    border-radius: 20px;
}
/* section-1 start */
.section-1{
    width: 85%;
    margin: 0 auto;
    margin-top: 130px;
}
.section-1 .bor{
    border: none;
}
.section-1 .img-4{
    width: 85%;
    height: 188px;
    border-radius: 20px;
}
.section-1 .fullrow h5{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #2E3E5C;
    width: 92%;
}
.section-1 .fullrow hp{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 26px;
    color: #2E3E5C;
    mix-blend-mode: normal;
    opacity: 0.8;
}
/* section 2 start */
.section-2{
    width: 53%;
    margin: 0 auto;
    margin-top: 130px
}
.section-2 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 60px;
    text-align: center;
    text-transform: capitalize;
    width: 56%;
    margin-left: 140px;
    
    
    color: #03014C;
}
.section-2 .para1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    

    color: #03014C;

    opacity: 0.5;
    width: 100%;
    height: 171px;

    margin-top: 75px;
}
.section-2 .coma-1{
    float: left;
    margin-left: -60px;
}
.section-2 .coma-2{
    float: right;
    margin-right: -60px;
    
}
.section-2 .margin{
    margin-top: 72px;
}
.section-2 .margin img{
    border: 5px solid #706FE5;
    border-radius: 50%;

}
.section-2 h3{
    font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 36px;
color: #1E1F4B;
margin-top: 18px;
}
.section-2 .para2{
    font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #2E3E5C;

opacity: 0.8;
}
/* section-3 start */
.section-3{
    width: 85%;
    margin: 0 auto;
    margin-top: 386px;
}
.section-3  .section-3-coloumn-1 h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    color: #1E1F4B;

}
.section-3  .section-3-coloumn-1 p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 36px;
    color: #1B1D21;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.section-3  .section-3-coloumn-1 a{
    padding: 10px 40px;
    background: #706FE5;
    box-shadow: 0px 6px 20px rgba(112, 111, 229, 0.5);
    border-radius: 12px;
}
.section-3  .section-3-coloumn-1 input{
    border: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2E3E5C;
    background: #ececf8;

    opacity: 0.7;
}
.section-3  .section-3-in{
   background: #ececf8;
   border-radius: 20px;
   width: 80%;
   margin-top: 50px;
}
.section-3 .section-3-coloumn-2 .one h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    color: #1E1F4B;

}
.section-3 .section-3-coloumn-2 .one p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #2E3E5C;
    mix-blend-mode: normal;
    opacity: 0.8;
}
 .section-3-coloumn-2 .two img{
    padding: 13px 18px;
    background:#ececf8 ;
    border-radius: 12px;
 }
 /* footer start */
 .footer{
    background-color: #2E3E5C;
    margin-top: 144px;
    width: 100%;
    height: 428px;
}
.footer1{
    margin-left: 150px;
}
.footer1 img{
 margin-top: 58px;
}
.footer1 hr{
    background: #EAEEF3;
    mix-blend-mode: normal;
    opacity: 0.15;
    width: 95%;
}
.footer1 .para1{
    
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    margin-top: 46px;
}
.footer1 .footnav li a{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
    mix-blend-mode: normal;
    opacity: 0.75;
}
.footer1 li{
    margin-right: 60px;
}
.footer1  .footnav .last{
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
padding: 10px 40px;
background: #706FE5;
border-radius: 12px;


text-align: center;

color: #FFFFFF;
}
.footer1 .para2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-top: 89px;
    text-align: center;
    
    color: #FFFFFF;

    mix-blend-mode: normal;
    }






