.navfont{
    font-family: "poppins";
    font-style: normal;
    font-size: 25px;
    
    
}
.navfont .navhover a:hover{
    padding: 5px;
    border-radius: 10px;
    background-color: yellowgreen;
}
.navfont img{
    width: 40%;
}
.cont_font h5{
    font-family: "poppins";
    font-style: normal;
    font-size:20px ;

}
.cont_font p{
    font-family: "roboto";
    font-style: normal;
    font-size:18px ;

}
