/* navbar */
.navfont{
    font-family: "poppins";
    font-style: normal;
    font-size: 25px;
    position: sticky;
    top: 0;
    z-index: 1;
    
}
.navfont img{
    width: 40%;
}

.navfont .navhover a:hover{
    padding: 5px;
    border-radius: 10px;
    background-color: yellowgreen;
}
.cardfont label{
    width: 40%;
}
.cardfont h5{
    font-family: "roboto";
    font-style: normal;
    font-size: 25px;

}
