body{
    margin: 0;
    padding: 0;
    width: 100%;
}
nav ul{
    display: inline-block;
    background-color: black;
    text-align: center;
    padding: 48px 0px;
    width: 100%;

}
nav li{ 
    display: inline-block;
    color: white;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    margin-left: 54px;
}
ul li:first-child {
    margin-left: 0px;
}
.image{
    display: table-cell;
    
}
.img1{
    width: 218px;
    height: 146px;
    margin-left: 25px;
}
.para1{
    display: table-cell;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    text-align: right;
    vertical-align: middle;
    padding-right:50px;
    
}
.header1{
    height: 150px;
    background-color: white;
    display: table;
    width: 100%;
    
}
.sub1{
    display: inline-block;
    
    width:32% ;
    padding: 10px;
}
.sub2{
    display: inline-block;
    width: 32%;
}
.sub3{
    display: inline-block;
    width: 32%;
}
.img2{
    width: 369px;
    height: 278px;
    display: inline-block;
    border: 1px solid #6F6C6C;
    padding: 12px 16px;
}
.header2{
    width: 100%;
    border: 2px solid #F3F2EE;
    
    background-color: #F3F2EE;
    height: 737px;
    width: 100%;
}
.para2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 153.19%;
}
.subimg{
    padding: 20px;
}
.subhead{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 45px;
    margin-left: 17px;
}
.header2 a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 23px;
    line-height: 153.19%;
    color: #6D9D34;
    width: 249px;
    height:44px;
}
.header3img1{
    width: 834px;
    height: 383px;
}
.header3sub2{
    width: 834px;
    height: 539px;
}
.header3img1 img{
    width: 183px;
    height: 152px;
    margin-top: 101px;
    margin-left: 48px;
    margin-bottom: 130px;
}
.header3sub2 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    color: #8F8F8F;
    margin-left: 38px;
    margin-bottom: 16px;

}
.header3img2{
    margin-top: 72px;
    margin-left: 44px;
    display: inline-block;

}
.header3para{
    display: inline-block;
    vertical-align: top;
    width: 530px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 118.19%;
    color: #8F8F8F;
    margin-top: 30px;
    
}
.header3sub2 .para4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 153.19%;
    color: #8F8F8F;
}
.header3img2{
    border: 1px solid #000000;
    padding: 17px 20px;
}
.header3sub2 .para4{
    margin-left: 48px;
    margin-bottom: 89px;
}
.header3{
    display: table;
    width: 100%;
}
.header3sub4{
    display: table-cell;
    vertical-align: top;
    width: 35%;
    height: 922px;
}
.header3sub1{
    display: table-cell;
    width: 50%;
}
.header3sub4img{
    display: inline-block;
    width: 30%;
    border: 1px solid #7B7979;
    padding: 15px 19px;
}
.content{
    display: inline-block;
    width: 40%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    color: #6C6C6C;
}
.header3sub4img{
    width: 164px;
    height: 135px;
    margin: 8% 0%;
}
.header3sub4 h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    line-height: 153.19%;
    color: #8F8F8F;
}
.content a{
    text-align: right;
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 153.19%;
    color: #6D9D34;
}
.bottom{
    background-color: #333333;
    width: 100%;
    height: 544px;
}
.about img{
    border: 1px solid #C2C2C2;
    padding: 11px 13px;
    width: 205px;
    height: 242px;
}
.bottomimg1{
    display: inline-block;
    
    margin-top: 26px;
    margin-left: 47px;
    margin-bottom: 34px;
}
.bottompara1{
    display: inline-block;
    width: 278px;
    height: 260px;
    vertical-align: top;
    margin-left: 28px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    
    color: #FFFFFF;
}
.about .hor1{
    border: 1px solid #F0F0F0;
    width: 471px;
    margin-left: 53px;
}
.bottompara1 .centerpara{
    height: 150px;
    width: 248px;
    margin-top: 8px;
}
.bottompara1 h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 28px;
}
.bottompara1 .lastpara{
    width: 241px;
}
.about h2{
    display: inline-block;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    color: #B1B1B1;
    margin-top: 63px;
    margin-bottom: 6px;
    margin-left: 49px;
}
 .outerpara{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    color: #FFFFFF;
    width: 506px;
    height: 23px;
    margin-left: 47px;
    margin-bottom: 52px;
}
.bottom{
    display: table;
    
}
.about{
    display: table-cell;
    width: 43.8%;
}
.latestimage{
    display: table-cell;
    width: 32%;
}
.contact{
    display: table-cell;
    width: 24.2%;
}
.siximage .img6{
    display: inline-block;
    width: 111px;
    height: 135px;
    margin: 26px 16px 50px 21px;
    
}
.latestimage h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    color: #B1B1B1;
    margin-top: 63px;
    margin-bottom: 12px;
}
.latestimage .hor2{
    border: 1px solid #F0F0F0;
    width: 383px;
    margin-left: 0px;
    margin-top: 12px;
}
.siximage .imgleft{
    margin-left: 0px;
}
/* contact section */
.contact h2{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 43px;
    color: #B1B1B1;
    margin-top: 63px;
    margin-bottom: 12px;
    margin-left: 30px;
    
    }
    .contact .hor3{
        border: 1px solid #F0F0F0;
        margin-top: 12px;
        margin-left:30px;
        width: 280px;
    }
    .contactpara{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        color: #FFFFFF;
        margin-left: 30px;

    }
    .contact a{
        color: green;
    }
    /* footer section */
    .footer{
        display: table;
        width: 100%;
        background: #777777;
        height: 87px;

    }
    .footer1{
        display: table-cell;
        width: 37.5%
    }
    .footer2{
        display: table-cell;
        width: 62.5%;
    }
    .footer1 p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        color: #D7E8B9;
        width: 499px;
        height: 41px;
        margin-top: 23px;
        margin-bottom: 23px;
        margin-left: 41px;
        
    }
    .footer2 p{
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 21px;
        color: #D7E8B9;
        width: 250px;
        height: 41px;
        margin-left: 43.19%;
        margin-top: 23px;
        margin-bottom: 23px;
    
        
    }