.parent{
    background-color: brown;
}
@media(min-width:575px){
    .child{
        width: 100%;
        height: 200px;
        border: 2px solid black;
        background-color: red;
    }
}
@media(min-width:767px){
    .child{
        width: 48%;
        display: inline-block;
        background-color: blue;
    }
}
@media(min-width:991px){
    .child{
        width: 31%;
        background-color: yellow;
    }
}
@media(min-width:1200px){
    .child{
        width: 24%;
        background-color: aqua;
        

    }
}